$background-color: #282929;
$white: #fff;
$text-grey: #a2a2a2;
$grey: #2c2d2d;
$orange: rgb(247, 151, 28);
$red: rgb(243, 74, 74);

$gradient-grey: rgba(0, 0, 0, 0.65);
$light-grey: rgba(117, 116, 116, 0.4);
